.form{
    text-align: center;
    width: 500px;
    height: 350px;
    border: 2px solid black;
    margin: 5% auto;
    padding-top: 30px;
}
.form input{  
    width: 260px;   
}
.submit{
    background-color:rgb(100, 255, 70);
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bolder;
    padding: 8px 0px;
}
